<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link  rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Digit recognition</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1 class="project-name">Digit recognition project</h1>
        </header>
        <div class="content">
            <div class="content-container">
                <div>
                    <div class="canvas">
                        <canvas id="canvas" width="600" height="400"></canvas>
                    </div>
                    <div class="button-container">
                        <button class="predict-button" id="predict-button">Predict</button>
                        <button class="clear-button" id="clear-button">Clear</button>
                    </div>
                </div>
                <div>
                    <div class="result-wrapper">
                        <p class="result-title">Result:</p>
                        <div class="result-container">
                            <div class="result" id="result"></div>
                            <div class="loading-container" id="loading">
                                <div class="loading">
                                    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-container">
                <div class="about-app">
                    <p class="about-label">About App:</p>
                    <p class="about-text">
                        This application can recognize handwritten digits.
                        It is based on a convolutional neural network with eight layers and almost three and a half million parameters.
                        Training and validation was carried out on data collected using this
                        <a class="data-site" href="https://draw-digits.herokuapp.com/">site</a>.<br>
                        Draw a number in the area above and click the "predict" button to see the prediction.
                        To clear the area, press the "clear" button.
                    </p>
                </div>
                <div class="contacts">
                    <p class="contacts-label">Contacts:</p>
                    <a class="github" href="https://github.com/SergiiBilyiA?tab=repositories">GitHub</a>
                    <p class="email">sergeybilyi@gmail.com</p>
                    <p class="phone">+380 (95) 626 90 60</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>